Data Types

In [3]:
my_integer = 42
my_float = 3.14
my_string = "Hello, Python!"
print(type(my_integer))
print(type(my_float))
print(type(my_string))

<class 'int'>
<class 'float'>
<class 'str'>

Operators

In [4]:
def calculate_rectangle_area():
  length = float(input("Enter the length of the rectangle: "))
  width = float(input("Enter the width of the rectangle: "))
  area = length * width
  return area

print("The area of the rectangle is:", calculate_rectangle_area())

Enter the length of the rectangle: 30
Enter the width of the rectangle: 20
The area of the rectangle is: 600.0

In [5]:
print(15 % 4)

3

conditional programming

In [6]:
def check_number_type():
  number = float(input("Enter a number: "))
  if number > 0:
    print("The number is positive.")
  elif number < 0:
    print("The number is negative.")
  else:
    print("The number is zero.")

check_number_type()

Enter a number: 72
The number is positive.

In [7]:
def is_leap_year(year):
  if year % 4 == 0 and (year % 100 != 0 or year % 400 == 0):
    return True
  else:
    return False

year = int(input("Enter a year: "))
if is_leap_year(year):
  print(year, "is a leap year.")
else:
  print(year, "is not a leap year.")

Enter a year: 2002
2002 is not a leap year.

Loops

In [8]:
i = 1
while i <= 5:
  print(i * i)
  i += 1

1
4
9
16
25

In [9]:
my_string = "Python"
for character in my_string:
  print(character)

P
y
t
h
o
n

args and Kwargs

In [10]:
def add_numbers(*args):
  sum = 0
  for number in args:
    sum += number
  return sum

In [13]:
add_numbers(2,4,5,6,7)

24

In [11]:
def print_info(**kwargs):
  for key, value in kwargs.items():
    print(key, ":", value)

lambda

In [25]:
square = lambda x: x * x

<function <lambda> at 0x7a595d888e50>

In [26]:
numbers = [1, 2, 3, 4, 5]
squared_numbers = list(map(square, numbers))
print(squared_numbers)

[1, 4, 9, 16, 25]

Map

In [27]:
def double(number):
  return number * 2

In [28]:
double(7)

14

In [29]:
numbers = [1, 2, 3, 4, 5]
doubled_numbers = list(map(double, numbers))
print(doubled_numbers)

[2, 4, 6, 8, 10]

Filter

In [30]:
numbers = [1, 2, 3, 4, 5]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print(even_numbers)

[2, 4]

In [31]:
def is_prime(number):
  if number <= 1:
    return False
  for i in range(2, int(number**0.5) + 1):
    if number % i == 0:
      return False
  return True

In [32]:
is_prime(72)

False

In [33]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
prime_numbers = list(filter(is_prime, numbers))
print(prime_numbers)

[2, 3, 5, 7]

All and Any

In [34]:
def is_any_string_longer_than_8_characters(list1):
  return any(len(element) > 8 for element in list1)

list1 = ["Hello", "World", "Python"]

if is_any_string_longer_than_8_characters(list1):
  print("Any string in the list is longer than 8 characters.")
else:
  print("No string in the list is longer than 8 characters.")

No string in the list is longer than 8 characters.

In [35]:
def are_all_elements_integers(list1):
  return all(isinstance(element, int) for element in list1)

list1 = [1, 2, 3, 4, 5]

if are_all_elements_integers(list1):
  print("All elements in the list are integers.")
else:
  print("Not all elements in the list are integers.")

All elements in the list are integers.